 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap'); 
 /* @font-face{
    font-family: Akira;
    src: url('./fonts/Akira\ Expanded\ Demo.otf');
}  */
@font-face{
    font-family: monument-regular;
    src: url('./fonts/MonumentExtended-Regular.otf');
}
@font-face{
    font-family: monument;
    src: url('./fonts/MonumentExtended-Ultrabold.otf')
}
@font-face{
    font-family: dharma;
    src: url('./fonts/dharmagothice_exbold_r.otf')
}
@import url('http://fonts.cdnfonts.com/css/akira-expanded');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* navbar */
nav{
    height: 122px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li {
    margin: 0 30px;
    font-size: 36px;
}
nav ul li a{
    color: white;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'monument-regular', sans-serif; */
    text-decoration: none;
    transition: all 0.3s ease;
}
nav ul li a:hover{
    color: red;
}
nav .logo img{
    border-bottom: 4px solid red;
    height: 80px;
    cursor: pointer;
}
nav .menu-btn i{
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}
@media (max-width:940px){
    
    nav .menu-btn i{
        display: block;
    }
    #click:checked ~ .menu-btn i:before{
        content: '\f00d';
    }
    nav ul{
        z-index: 99;
        position: fixed;
        top: 122px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100vw;
        max-width: 400px;
        display: inline-block;
        text-align: center;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    nav ul li{
        margin: 50px 0px;
    }
    nav ul li a{
        display: block;
    }
    .logo img{
        width: 70px;
    }
}
.disable{
    left: -100%;
}
/* navbar ends here  */

/* ************************************************************************************************************ */

/* home  */
.home{
    height: 100vh;
    width: 100%;
    background: url('img/Rectangle 3.1.jpg');
    background-size: cover;
    background-position: center center;
    /* background-attachment: fixed; */
}
.home .home-content{
    /* background: red; */
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.home .text-one{
    display: inline-block;
    position: relative;
    top: 180px;
    left: 220px;
    font-size: 60px;
    font-weight: 500;
    /* font-family: 'Akira Expanded', sans-serif; */
    font-family: 'dharma', sans-serif;
    color: white;
    letter-spacing: 8px;
}
.home .text-two{
    display: inline-block;
    position: absolute;
    top: 390px;
    left: 70px;
    color: white;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    word-spacing: 5px;
}
.home .text-two span{
    color: red;
}
.home button{
    display: inline-block;
    position: relative;
    top: 160px;
    left: 1060px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    padding: 5px 30px;
    background: red;
    color: white;
    outline: none;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
    transform: skew(-20deg);
}
.home button:hover{
    background: white;
    color: black;
}

/* @media (max-width:940px){
    .home .text-one{
        display: inline-block;
        font-size: 50px;
        position: relative;
        left: 46px;
        text-align: center;
    }
    .home .text-two{
        
        display: inline-block;
        font-size: 17px;
        position: relative;
        left: 0px;
        text-align: center;
    }
    .home button{
        display: inline-block;
        position: relative;
        top: 280px;
        left: 123px;
    }
}
@media(max-width:750px){
    .text .text-one{
        display: inline-block;
        font-size: 30px;
        position: relative;
        left: 20px;
        text-align: center;
    }
} */

@media(max-width: 768px){
    .home-content{
        display: inline-block;
    }
    .home .text-one{
        position: absolute;
        left: 50px;
        top: 300px;
        text-align: center;
        font-size: 45px;
    }
    .home .text-two{
        font-size: 18px;
        position: absolute;
        left: 40px;
        top: 370px;
    }
    .home button{
        display: inline-block;
        position: relative;
        top: 340px;
        left: 110px;
    }
}
/* home  */

/* *********************************************************************************************************** */
/* head section  */
.head{
    width: 100%;
    height: 70vh;
    background: black;
    color: white;
    /* overflow: hidden; */
    display: inline-block;
}
.head .head-content{
    width: 100%;
    height: 90%;
}
.head-content .head-first h1{
    font-size: 45px;
    font-family: 'Akira Expanded', sans-serif;
    /* font-family: 'dharma', sans-serif; */
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.head-content .head-second h1{
    font-size: 18px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.head-content .head-third h1{
    font-size: 55px;
    text-align: center;
    font-family: 'Akira Expanded', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}
/* @media (max-width:940px){
    .head-content .head-first h1{
        font-size: 25px;
    }
    .head-content .head-second h1{
        font-size: 12px;
    }
    .head-content .head-third h1{
        font-size: 35px;
    }
} */
@media(max-width: 768px){
    .head{
        height: 100vh;
    }
    .head-content .head-first{
        margin-top: 120px;
    }
    .head-content .head-first h1{
        font-size: 25px;
    }
    .head-content .head-second h1{
        font-size: 12px;
    }
    .head-content .head-third h1{
        font-size: 35px;
    }
}
/* head section  */
/* ***************************************************************************************************** */

/* squad */
.squad{
    width: 100%;
    height: 100vh;
    background: white;
    color: black;
}
.squad-heading{
    display: inline-block;
}
.squad-heading h1{
    font-size: 85px;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Akira Expanded', sans-serif;
    display: inline-block;
    position: relative;
    top: 50px;
    left: 50px;
    border-bottom: 5px solid red;
}
.squad .squad-info{
    width: 50vw;
    position: relative;
    top: 100px;
    left: 50px;
}
.squad .squad-info p{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
@media (max-width:940px){
    .squad-heading h1{
        font-size: 25px;
    }
    .squad .squad-info p{
        font-size: 14px;
        width: 80vw;
    }
}
@media(max-width: 768px){
    .squad{
        height: 100vh;
        
    }
    .squad-heading h1{
        font-size: 25px;
    }
    .squad .squad-info p{
        font-size: 14px;
        width: 80vw;
    }
}

/* squad */

/* ************************************************************************************************ */

/* about us section  */
.about{
    width: 100%;
    height: 100vh;
    background: black;
    color: white;
}
.about-heading{
    display: inline-block;
}
.about-heading h1{
    font-size: 85px;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Akira Expanded', sans-serif;
    display: inline-block;
    position: relative;
    top: 50px;
    left: 50px;
    border-bottom: 5px solid #EB9646;
    ;
}

.about .about-info{
    width: 90vw;
    position: relative;
    top: 100px;
    left: 50px;
}
.about .about-info p{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.about .about-info p span{
    color: red;
}
@media (max-width:768px){
    .about{
        height: 100vh;
    }
.about .about-info{
    display: inline-block;
    position: relative;
    left: 30px;
}
.about-heading h1{
    font-size: 30px;
}
.about .about-info p{
    width: 80vw;
    font-size: 13px;
}
}

/* about us section  */
